.ipynb_checkpoints
.idea
lib/build
lib/pycocotools/_mask.c
lib/pycocotools/_mask.so
caffe
*.pyc
*.o
*.caffemodel
*pr.pkl
*.a
*.mat
data/cache
data/imagenet_models
data/rfcn_models
data/VOCdevkit0712
data/VOCdevkit2007
VOCdevkit
experiments/logs/*